{% extends 'tab/base.html' %}

{% block content %}
    <h1>Description</h1>
    <h5>Please check note box that you want to convert to TAB and fill in the coordiinate.</br>
        Then push "Add"button.</h5>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
    <br />
    
   	<h1>debug(by blog)</h1><Hr>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

	<h1>View</h1><Hr> 	
 	{% load static %} 	
 	<div class="float-left">
	    <img src="{% static "th.png" %}" height=250px width=50px>
	</div>
    <div class="note">
		||H1G||{{note.H1G}}</br>
		||H1F||</br>
		||H1E||</br>
		||H1D||</br>
		||H1C||</br>
		||M1B||</br>
		||M1A||</br>
		||M1G||</br>
		||M1F||</br>
		||M1E||</br>
		||M1D||</br>
		||M1C||</br>
	</div>
	<br class="clear">

	<div class="float-left">
	<img src="{% static "he.png" %}" height=250px width=50px>
	</div>
    <div class="box-text">
		||L1B||</br>
		||L1A||</br>
		||L1G||</br>
		||L1F||</br>
		||L1E||</br>
		||L1D||</br>
		||L1C||</br>
		||L2B||</br>
		||L2A||</br>
		||L2G||</br>
		||L2F||</br>
	</div>
	<br class="clear">      
	<Hr>
	<h1>Control</h1>
	<label class="checkbox-inline">
		<input type="checkbox" name="note" value="H1G" />:H1G</br>
	<button type="submit" class="save btn btn-default">Note Add</button>
    </form>
{% endblock %}
