{% extends 'tab/base.html' %}

{% block content %}
    <h1>1st Step : Note Add</h1>
    <h5>Please check note box that you want to convert to TAB and fill in the coordiinate.</br>
        Then push "Add"button.</h5>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}

        	<br /><br />

	<img src=.
	/images/th.jpg style="float:left;margin:10pix width="250" height="250">&nbsp;&nbsp;
		    <input type="checkbox" name="note" value="H1G" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="H1F" />--				   ||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="H1E" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="H1D" />--          	   ||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="H1C" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="M1B" />--          	   ||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="M1A" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="M1G" />--          	   ||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="M1F" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="M1E" />--          	   ||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="M1D" />&nbsp;&nbsp;&nbsp;||<br />
		   -<input type="checkbox" name="note" value="M1C" />-           	   ||<br />
	<br /><br />

	<img src=./images/he.jpg style="float:left;margin:10pix width="250" height="250">&nbsp;&nbsp;

		    <input type="checkbox" name="note" value="L1B" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="L1A" />--          &nbsp;||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="L1G" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="L1F" />--          &nbsp;||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="L1E" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="L1D" />--          &nbsp;||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="L1C" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="L2B" />--          &nbsp;||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="L2A" />&nbsp;&nbsp;&nbsp;||<br />
		  --<input type="checkbox" name="note" value="L2G" />--          &nbsp;||<br />
&nbsp;&nbsp;<input type="checkbox" name="note" value="L2F" />&nbsp;&nbsp;&nbsp;||<br />
        <button type="submit" class="save btn btn-default">Note Add</button>
    </form>
{% endblock %}
