{% extends 'tab/base.html' %}

{% block content %}
    <h1>1st Step : Note Add</h1>
    <h5>Please check note box that you want to convert to TAB and fill in the coordiinate.</br>
        Then push "Add"button.</h5>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}

    <br /><br />
 	{% load static %}
 	<div class="float-left">
	    <img src="{% static "th.png" %}" height=250px width=50px>
	</div>
    <div class="box-text">
		||&nbsp;&nbsp;H1G<br/>
		||--H1F--<br />
		||&nbsp;&nbsp;H1E<br/>
		||--H1D--<br />
		||&nbsp;&nbsp;H1C<br/>
		||--M1B--<br />
		||&nbsp;&nbsp;M1A<br/>
		||--M1G--<br />
		||&nbsp;&nbsp;M1F<br/>
		||--M1E--<br />
		||&nbsp;&nbsp;M1D<br/>
		||&nbsp-M1C-&nbsp<br />
	</div>
	<br class="clear">

	<div class="float-left">
	<img src="{% static "he.png" %}" height=250px width=50px>
	</div>
    <div class="box-text">
		||&nbsp;&nbsp;L1B<br/>
		||--L1A--<br />
		||&nbsp;&nbsp;L1G<br/>
		||--L1F--<br />
		||&nbsp;&nbsp;L1E<br/>
		||--L1D--<br />
		||&nbsp;&nbsp;L1C<br/>
		||--L2B--<br />
		||&nbsp;&nbsp;L2A<br/>
		||--L2G--<br />
		||&nbsp;&nbsp;L2F<br/>
	</div>
	<br class="clear">      
	
	<button type="submit" class="save btn btn-default">Note Add</button>
    </form>
{% endblock %}
