{% extends 'n2t/base.html' %}

{% block content %}
    <h1>Description</h1>
    <h5>Please check note box that you want to convert to TAB and fill in the coordiinate.</br>
        Then push "Add"button.</h5>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
    <br />
    
   	<h1>debug(by blog)</h1><Hr>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

	<h1>View</h1><Hr> 	
 	{% load static %} 	
 	<div class="float-left">
	    <img src="{% static "th.png" %}" height=250px width=50px>
	</div>
    <div class="note">
		||H1G||{{note.H1G|yesno "ô,-,"}}</br>
		||H1F||{{note.H1F|yesno "ô,-,"}}</br>
		||H1E||{{note.H1E|yesno "ô,-,"}}</br>
		||H1D||{{note.H1D|yesno "ô,-,"}}</br>
		||H1C||{{note.H1C|yesno "ô,-,"}}</br>
		||M1B||{{note.M1B|yesno "ô,-,"}}</br>
		||M1A||{{note.M1A|yesno "ô,-,"}}</br>
		||M1G||{{note.M1G|yesno "ô,-,"}}</br>
		||M1F||{{note.M1F|yesno "ô,-,"}}</br>
		||M1E||{{note.M1E|yesno "ô,-,"}}</br>
		||M1D||{{note.M1D|yesno "ô,-,"}}</br>
		||M1C||{{note.M1C|yesno "ô,-,"}}</br>
	</div>
	<br class="clear">

	<div class="float-left">
	<img src="{% static "he.png" %}" height=250px width=50px>
	</div>
    <div class="box-text">
		||L1B||{{note.L1B|yesno "ô,-,"}}</br>
		||L1A||{{note.L1A|yesno "ô,-,"}}</br>
		||L1G||{{note.L1G|yesno "ô,-,"}}</br>
		||L1F||{{note.L1F|yesno "ô,-,"}}</br>
		||L1E||{{note.L1E|yesno "ô,-,"}}</br>
		||L1D||{{note.L1D|yesno "ô,-,"}}</br>
		||L1C||{{note.L1C|yesno "ô,-,"}}</br>
		||L2B||{{note.L2B|yesno "ô,-,"}}</br>
		||L2A||{{note.L2A|yesno "ô,-,"}}</br>
		||L2G||{{note.L2G|yesno "ô,-,"}}</br>
		||L2F||{{note.L2F|yesno "ô,-,"}}</br>
	</div>
	<br class="clear">      
	<Hr>
	<h1>Control</h1>
	<label class="checkbox-inline">
		<input type="checkbox" name="note" value="H1G" />:H1G</br>
	<button type="submit" class="save btn btn-default">Note Add</button>
    </form>
{% endblock %}
