{% extends 'n2t/base.html' %}

{% block content %}
    <h1>Description</h1>
    <h5>Please check note box that you want to convert to TAB and fill in the coordiinate.</br>
        Then push "Add"button.</h5>

	<h1>View</h1><Hr> 	
 	{% load static %} 	
 	<div class="float-left">
	    <img src="{% static "th.png" %}" height=250px width=50px>
	</div>
    <div class="note">
		||H1G||{{note.H1G}}</br>
		||H1F||{{note.H1F}}</br>
		||H1E||{{note.H1E}}</br>
		||H1D||{{note.H1D}}</br>
		||H1C||{{note.H1C}}</br>
		||M1B||{{note.M1B}}</br>
		||M1A||{{note.M1A}}</br>
		||M1G||{{note.M1G}}</br>
		||M1F||{{note.M1F}}</br>
		||M1E||{{note.M1E}}</br>
		||M1D||{{note.M1D}}</br>
		||M1C||{{note.M1C}}</br>
	</div>
	<br class="clear">

	<div class="float-left">
	<img src="{% static "he.png" %}" height=250px width=50px>
	</div>
    <div class="box-text">
		||L1B||{{note.L1B}}</br>
		||L1A||{{note.L1A}}</br>
		||L1G||{{note.L1G}}</br>
		||L1F||{{note.L1F}}</br>
		||L1E||{{note.L1E}}</br>
		||L1D||{{note.L1D}}</br>
		||L1C||{{note.L1C}}</br>
		||L2B||{{note.L2B}}</br>
		||L2A||{{note.L2A}}</br>
		||L2G||{{note.L2G}}</br>
		||L2F||{{note.L2F}}</br>
	</div>
	<br class="clear">
	<Hr>

	<h1>Control</h1><Hr>
	<form method="POST" class="post-form">{% csrf_token %}

	{{ form.as_p }}
	<a href="{% url 'note_new' %}" >aiueo</a>

	<Hr>
	<button type="submit" class="save btn btn-default">Note Add</button>
    </form>
{% endblock %}
